@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.carousel {
    height: 530px;
    width: 500px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.image-container {
    display: flex;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    color: #fff;
    width: 49.6%;
    padding: 0.5rem;
    cursor: pointer;
    background-color: rebeccapurple;
    border: none;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: none;
}